﻿
<f:layout name="Master"/>
<f:section name="header">
    <script type="text/javascript" src="{f:uri.resource(path: 'js/stores/GrupoCuentaStore.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/ui/BasePanel.js')}"></script>
</f:section>

<f:section name="mainbox">
    <f:flashMessages class="flashmessages"/>
    <h2>Grupos de Cuentas</h2>
    <![CDATA[
    <script type="text/javascript">
        Ext.onReady(function() {
            Ext.QuickTips.init();

            var gridPanel = Ext.create('Sifpe.grid.Base', {
                title: 'Gestion de grupos de cuentas',
                store: Ext.data.StoreManager.lookup('grupoCuentaStore'),
                renderTo: Ext.get('my-app'),
                columns: [
                    {
                        header: 'nombre',
                        dataIndex: 'name',
                        flex: true,
                        editor: {
                            type: 'textfield'
                        }
                    }
                ],
                listeners: {
                    addclick: function() {
                        edit = this.editing;
                        edit.cancelEdit();
                        this.store.insert(0, new GrupoCuenta());
                        edit.startEdit(0,0);
                    }
                }
            });
        });
    </script>
    ]]>
</f:section>