﻿
<f:layout name="Master"/>
<f:section name="header">
    <![CDATA[
    <script type="text/javascript">
        function delayer() {
            window.location = "/";
        }
        setTimeout('delayer()', 5000);

    </script>
    ]]>
</f:section>

<f:section name="mainbox">
    <div id="backups-screen">
        <f:flashMessages class="flashmessages"/>
        <p>Su backup ha sido programado, dentro de un rato aparecera en la lista de backups cuando haya terminado</p>

        <p>Ya se puede salir de esta pantalla</p>
    </div>

</f:section>