{namespace ext=F3\ExtJS\ViewHelpers}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <f:base/>
    <link href="http://fonts.googleapis.com/css?family=Nova+Script:regular" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{f:uri.resource(path: 'css/stylesheets/sifpe.css')}" type="text/css" media="all"/>
    <!-- BEGIN ExtJs Framework-->
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'js/extjs/resources/css/ext-all.css')}"/>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/extjs/ext-all-debug-w-comments.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/Util.js')}"></script>
    <!-- END ExtJs Framework-->

    <title>SIFPE v4</title>
    <script type="text/javascript">
        baseUrl = '/index.php/'
    </script>
    <f:render section="header"/>


    <link href="http://fonts.googleapis.com/css?family=Nova+Script:regular" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
    <header>
        <h1>SIFPE v4</h1>
        <nav>
            <ul class="menu">
                <li class="first">
                    <f:link.action action="index" controller="Gasto">Gastos</f:link.action>
                </li>
                <li>
                    <f:link.action action="index" controller="Ingreso">Ingresos</f:link.action>
                </li>
                <li>
                    <f:link.action action="index" controller="Cuenta">Cuentas</f:link.action>
                </li>
                <li>
                    <f:link.action action="index" controller="GrupoCuenta">Grupos</f:link.action>
                </li>
                <li class="last">
                    <f:link.action action="index" controller="Empresa">Empresas</f:link.action>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div id="mainbox">
            <f:render section="mainbox"/>
            <div id="my-app"></div>
        </div>
    </section>
</div>
</body>
</html>