<f:layout name="Master"/>
<f:section name="header">
    <script type="text/javascript" src="{f:uri.resource(path: 'js/ApunteModel.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/stores/GastoStore.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/stores/CuentaStore.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/stores/EmpresaStore.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/ui/BasePanel.js')}"></script>
</f:section>

<f:section name="mainbox">
    <f:flashMessages class="flashmessages"/>
    <![CDATA[
    <script type="text/javascript">
        Ext.onReady(function() {
            Ext.QuickTips.init();

            var gridPanel = Ext.create('Sifpe.grid.Base', {
                title: 'Gestion de gastos',
                store: Ext.data.StoreManager.lookup('gastoStore'),
                renderTo: Ext.get('my-app'),
                columns: [
                    {
                        header: 'fecha',
                        dataIndex: 'fecha',
                        xtype: 'datecolumn',
                        format: 'd-m-Y',
                        field: {
                            xtype: 'datefield',
                            allowBlank: false,
                            format: 'd-m-Y',
                            minValue: '01/01/2006',
                            minText: 'Cannot have a start date before the company existed!',
                            maxValue: Ext.Date.format(new Date(), 'm/d/Y')
                        }
                    },
                    {
                        header: 'empresa',
                        dataIndex: 'empresa',
                        flex: true,
                        renderer: getEmpresaFromId,
                        editor: {
                            xtype: 'combo',
                            editable: false,
                            store:  Ext.data.StoreManager.lookup('empresaStore'),
                            queryMode: 'local',
                            displayField: 'name',
                            valueField: 'id'
                        }
                    },
                    {
                       header: 'cuenta',
                        dataIndex: 'cuenta',
                        flex: true,
                        renderer: getCuentaFromId,
                        editor: {
                            xtype: 'combo',
                            editable: false,
                            store:  Ext.data.StoreManager.lookup('cuentaStore'),
                            queryMode: 'local',
                            displayField: 'name',
                            valueField: 'id'
                        }
                    },
                    {
                        header: 'cantidad',
                        dataIndex: 'cantidad',
                        align: 'right',
                        type: 'numbercolumn',
                        editor: {
                            xtype: 'textfield',
                            allowBlank: false
                        }
                    },
                    {
                        header: 'notas',
                        dataIndex: 'notas',
                        flex: true,
                        editor: {
                            type: 'textfield'
                        }
                    }
                ],
                listeners: {
                    addclick: function() {
                        edit = this.editing;
                        edit.cancelEdit();
                        this.store.insert(0, new Apunte());
                        edit.startEdit(0, 0);
                    }
                }
            });
        });
        cuentaStore = Ext.data.StoreManager.lookup('cuentaStore');
        cuentaStore.on('load',function(){gridPanel.getView().refresh()});
        empresaStore = Ext.data.StoreManager.lookup('empresaStore');
        empresaStore.on('load',function(){gridPanel.getView().refresh()});
    </script>
    ]]>
</f:section>